{% extends "base.html.twig" %}
{% block title %}Skills Farm{% endblock %}
{% block body %}
    <!--Breadcrumb Banner Area Start-->
    <div class="breadcrumb-banner-area pt-94 pb-85 bg-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-text">
                        <h2 class="text-center">About Us</h2>
                        <div class="breadcrumb-bar">
                            <ul class="breadcrumb text-center m-0">
                                <li><a href="index.html">Home</a></li>
                                <li>About Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Breadcrumb Banner Area-->
    <!-- About Area Start -->
    <div class="about-area ptb-130 ptb-sm-60" style="padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="abt-img img-full">
                        <img src="/img/meet.jpg" alt="jobhere">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="abt-content" style="display: block;">
                        <h4><span>About</span> Us</h4>
                        <p><strong>Our Philosophy</strong></p>
                        <p>At skill farm we believe that a visionary leader has a clear sense of their destination and
                            what things they need to accomplish to reach it. We skill farmers enable the individuals to
                            translate their positive intentions to tangible results. We make sure that every individual
                            must learn to manage their present without losing their focus on their visionary future
                            through their enviable career and life. We skill farmers believe that all failures in life
                            or business, academics or in personal life are due to the lack of good leadership skills and
                            inability to execute their full abilities when someone or any organization cannot perform at
                            their peak or if they lack good skills and leadership, here we are to sow the seeds of
                            skills to make everyone to reach pinnacle of success. "To be what we are, and to become what
                            we are capable of becoming, is the only end of life". Methodology: Truly innovative and
                            experimental by using case studies , role plays ,games , audio and video ,power point aided
                            facilitation , questionnaire and interactive activities. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-area pt-sm-60 pb-sm-30">
        <div class="container">
            <!-- Section Title Start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center ">
                        <h2>Team Member</h2>
                        <p>Our Support</p>
                    </div>
                </div>
            </div>
            <!-- Section Title End -->
            <div class="row">
                <!-- Single Team Start -->
                <div class="col-md-6 col-lg-3">
                    <div class="single-team">
                        <div class="team-img">
                            <img src="images/team/1.jpg" alt="jobhere">
                        </div>
                        <div class="team-content">
                            <h5>Shyju Nair</h5>
                            <h6>CEO</h6>
                        </div>
                    </div>
                </div>
                <!-- Single Team End -->
                <!-- Single Team Start -->
                <div class="col-md-6 col-lg-3">
                    <div class="single-team">
                        <div class="team-img">
                            <img src="images/team/2.jpg" alt="jobhere">
                        </div>
                        <div class="team-content">
                            <h5>JAYAN VARGHESE</h5>
                            <h6>DIRECTOR</h6>
                        </div>
                    </div>
                </div>
                <!-- Single Team End -->
                <!-- Single Team Start -->
                <div class="col-md-6 col-lg-3">
                    <div class="single-team">
                        <div class="team-img">
                            <img src="images/team/3.jpg" alt="jobhere">
                        </div>
                        <div class="team-content">
                            <h5>JEO VARGHESE</h5>
                            <h6>CTO</h6>
                        </div>
                    </div>
                </div>
                <!-- Single Team End -->
                <!-- Single Team Start -->
                <div class="col-md-6 col-lg-3">
                    <div class="single-team">
                        <div class="team-img">
                            <img src="images/team/4.jpg" alt="jobhere">
                        </div>
                        <div class="team-content">
                            <h5>JAEFFRY JOSEPH</h5>
                            <h6>Support</h6>
                        </div>
                    </div>
                </div>
                <!-- Single Team End -->
            </div>
        </div>
    </div>
    <!--End of Blog Area-->

    {% include "login.html.twig" %}
    {% include "register.html.twig" %}
{% endblock %}