{% extends "base.html.twig" %}
{% block title %}Skillsfarm{% endblock %}
{% block body %}
    <!--Breadcrumb Banner Area Start-->
    <div class="breadcrumb-banner-area pt-94 pb-85 bg-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-text" style="padding-left: 42%;">
                        <h2 class="text-center">About Us</h2>
                        <div class="breadcrumb-bar">
                            <ul class="breadcrumb text-center m-0">
                                <li><a href="/">Home</a></li>
                                <li>About Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Breadcrumb Banner Area-->
    <!-- About Area Start -->
    <div class="about-area ptb-130 ptb-sm-60" style="padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="abt-img img-full">
                        <img src="/img/meet.jpg" alt="jobhere">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="abt-content" style="display: block;">
                        <h4><span>About</span> Us</h4>
                        <p><strong>Our Philosophy</strong></p>
                        <p>Skills farm is designed and led by a passionate team under the
                            leadership of &nbsp;<b>Mr SHYJU K R NAIR</b> along with young and energetic minds like
                            Mr Jayan verghese, Mr Johnson and Mr Joseph who all have got wide and
                            vast experience in the industry. </p>
                        <p>
                            <strong>Our vision and Motto and the values</strong>
                            <br>
                            <i>
                                “To create a platform where every seeker is satisfied with his search for better
                                living”.</i>
                        </p>
                        <p>
                            <strong>Our core values we assure,</strong></p>
                        <p>
                            <span class="mark-icon block pl-27">Complete customer satisfaction</span>
                            <span class="mark-icon block pl-27">Belive and Trust</span>
                            <span class="mark-icon block pl-27">Loyality and Truthfulness</span>
                            <span class="mark-icon block pl-27">Empowerment and quick results.</span>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-area pt-sm-60 pb-sm-30">
        <div class="container">
            <!-- Section Title Start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center ">
                        <h2>Team Members</h2>
                        <p>Our Support</p>
                    </div>
                </div>
            </div>
            <!-- Section Title End -->
            <div class="row">
                <!-- Single Team Start -->
                <div class="col-md-6 col-lg-3">
                    <div class="single-team">
                        <div class="team-img">
                            <img src="/img/shyju.jpeg" alt="jobhere">
                        </div>
                        <div class="team-content">
                            <h5>SHYJU NAIR</h5>
                            <h6>CEO</h6>
                            <h6>shyjunair2018@gmail.com</h6>
                            <h6>+91 8848920235</h6>
                        </div>
                    </div>
                </div>
                <!-- Single Team End -->
                <!-- Single Team Start -->
                <div class="col-md-6 col-lg-3">
                    <div class="single-team">
                        <div class="team-img">
                            <img src="/img/default.jpg" alt="jobhere">
                        </div>
                        <div class="team-content">
                            <h5>JAYAN VARGHESE</h5>
                            <h6>CTO</h6>
                            <h6>+91 8095708180</h6>
                        </div>
                    </div>
                </div>
                <!-- Single Team End -->
                <!-- Single Team Start -->
                <div class="col-md-6 col-lg-3">
                    <div class="single-team">
                        <div class="team-img">
                            <img src="/img/default.jpg" alt="jobhere">
                        </div>
                        <div class="team-content">
                            <h5>JOSEPH</h5>
                            <h6>Marketing</h6>
                            <h6>+91 9480571937</h6>
                        </div>
                    </div>
                </div>
                <!-- Single Team End -->
                <div class="col-md-6 col-lg-3">
                    <div class="single-team">
                        <div class="team-img">
                            <img src="/img/default.jpg" alt="jobhere">
                        </div>
                        <div class="team-content">
                            <h5>JOHNSON</h5>
                            <h6>Customer Service</h6>
                            <h6>+91 7907176580</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Blog Area-->

    {% include "login.html.twig" %}
    {% include "register.html.twig" %}
{% endblock %}