{% extends "base.html.twig" %}
{% block title %}Skillsfarm{% endblock %}
{% block body %}
    <div class="modal-body">
        <div class="form-pop-up-content ptb-60 pl-60 pr-60" style="padding-left: 20%;padding-right: 20%">
            <div class="area-title text-center mb-43">
                <img src="/img/logo375.png" style="width: 300px;height: 75px;" alt="jobhere">
            </div>
            <form action="/changepassword/{{ id }}/{{ rand }}/{{ random }}" method="post">
                <div class="form-box">
                    <input type="password" id="password" class="mb-14" name="password" placeholder="Please Enter you new password" required/>
                    <input type="password" id="reenterpassword" class="mb-14" name="reenterpassword" placeholder="Re-Enter the password" required/>
                    <input type="hidden" value="{{ random }}" name="random">
                </div>
                <div class="text-center">
                    <button type="submit" class="text-uppercase">Login</button>
                </div>
            </form>
        </div>
    </div>
    {% include "login.html.twig" %}
    {% include "register.html.twig" %}
{% endblock %}