{% extends "base.html.twig" %}
{% block title %}SkillsFarm{% endblock %}
{% block body %}
    <!--Start of Slider Area-->
    <div class="slider-area">
        <div class="preview-2">
            <div id="nivoslider" class="slides">
                <img src="/img/dream.jpg" alt="" title="#slider-1-caption1"/>
                <img src="/img/startup.jpg" alt="" title="#slider-1-caption2"/>
            </div>
            <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
                <div class="banner-content slider-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-content-wrapper">
                                    <div class="text-content text-center">
                                        <h4 class="title2 wow bounceInLeft text-white mb-16" data-wow-duration="3s"
                                            data-wow-delay="0s">One million success stories</h4>
                                        <h1 class="title1 wow bounceInRight text-white mb-16" data-wow-duration="3s"
                                            data-wow-delay="0s">Find the best one for you</h1>
                                        <p class="sub-title wow bounceInRight hidden-xs" data-wow-duration="3s"
                                           data-wow-delay="1s"> Submit your resume<br>and let the job search for you<br>
                                            at
                                        </p>
                                        <h1 style="color: white"><b>Skillsfarm...</b></h1>
                                        <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="3s"
                                             data-wow-delay="2s">
                                            <a class="button slider-btn" href="{{ path('_general') }}">Submit Resume</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="slider-1-caption2" class="nivo-html-caption nivo-caption">
                <div class="banner-content slider-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-content-wrapper">
                                    <div class="text-content slide-2 text-center">
                                        <h4 class="title2 wow bounceInLeft text-white mb-16" data-wow-duration="3s"
                                            data-wow-delay="0s">At <b>Skillsfarm</b></h4>
                                        <h1 class="title1 wow flipInX text-white mb-16" data-wow-duration="1s"
                                            data-wow-delay="0s">Find the best of best jobs</h1>
                                        <p class="sub-title wow lightSpeedIn hidden-xs" data-wow-duration="1s"
                                           data-wow-delay=".2s">The best team would contact you <br> on submission of
                                            your resume<br>You can fill the form and get started</p>
                                        <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="1s"
                                             data-wow-delay=".6s">
                                            <a class="button slider-btn" href="{{ path('_general') }}">Submit Resume</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Slider Area-->
    <div class="job-categroy-area ptb-130 ptb-sm-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center ">
                        <h2>Features</h2>
                        <p>that we offer you on your success.</p>
                    </div>
                </div>
            </div>
            <div class="category-job-list-actiive owl-carousel">
                <div class="category-item">
                    <div class="img-icon">
                        <img src="images/icons/cat1.png" alt="">
                    </div>
                    <h5>Soft Skills</h5>
                </div>
                <div class="category-item">
                    <div class="img-icon">
                        <img src="images/icons/cat2.png" alt="">
                    </div>
                    <h5>Career Counseling </h5>
                </div>
                <div class="category-item">
                    <div class="img-icon">
                        <img src="images/icons/cat3.png" alt="">
                    </div>
                    <h5>Communication Skills
                    </h5>
                </div>
                <div class="category-item">
                    <div class="img-icon">
                        <img src="images/icons/cat4.png" alt="">
                    </div>
                    <h5>Psychological Counseling</h5>
                </div>
                <div class="category-item">
                    <div class="img-icon">
                        <img src="images/icons/cat1.png" alt="">
                    </div>
                    <h5>Faculty Training</h5>
                </div>
                <div class="category-item">
                    <div class="img-icon">
                        <img src="images/icons/cat2.png" alt="">
                    </div>
                    <h5>Placement Services</h5>
                </div>
                <div class="category-item">
                    <div class="img-icon">
                        <img src="images/icons/cat3.png" alt="">
                    </div>
                    <h5>School Affiliation</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Job Category End -->
    <!--Start of Job Post Area-->
    <div class="job-post-area pb-100 pb-sm-35">
        <div class="container">
            <!-- Section Title Start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center ">
                        <h2>All Job</h2>
                        <p>The best jobs for you..</p>
                    </div>
                </div>
            </div>
            <!-- Section Title End -->
            <div class="all-job-post">
                <!-- Nav tabs -->
                <div class="post-tab nav">
                    <a class="nav-link" data-toggle="tab" href="#featured">FEATURED JOBS</a>
                    <a class="nav-link  active" data-toggle="tab" href="#recent_job">RECENT JOBS</a>
                    <a class="nav-link" data-toggle="tab" href="#featured">PART TIME</a>
                    <a class="nav-link" data-toggle="tab" href="#recent_job">FULL TIME</a>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="featured">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-job-post">
                                    <div class="img-icon">
                                        <img src="images/company-logo/1.png" alt="">
                                    </div>
                                    <div class="address">
                                        <h6>Online English Teachers</h6>
                                        <p>Publisher : Company Name</p>
                                        <p>In : Teacher</p>
                                        <p>Date : 14.05.2018</p>
                                        <p>Location : Dhaka</p>
                                    </div>
                                    <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-job-post">
                                    <div class="img-icon">
                                        <img src="images/company-logo/1.png" alt="">
                                    </div>
                                    <div class="address">
                                        <h6>Hiring Web designer & Developer</h6>
                                        <p>Publisher : Company Name</p>
                                        <p>In : Designer</p>
                                        <p>Date : 12.06.2018</p>
                                        <p>Location : Dhaka</p>
                                    </div>
                                    <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-job-post">
                                    <div class="img-icon">
                                        <img src="images/company-logo/1.png" alt="">
                                    </div>
                                    <div class="address">
                                        <h6>SEO Analiyst & Reviewer</h6>
                                        <p>Publisher : Company Name</p>
                                        <p>In : Designer</p>
                                        <p>Date : 11.02.2018</p>
                                        <p>Location : Dhaka</p>
                                    </div>
                                    <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-job-post">
                                    <div class="img-icon">
                                        <img src="images/company-logo/1.png" alt="">
                                    </div>
                                    <div class="address">
                                        <h6>Content Writer and Speaker</h6>
                                        <p>Publisher : Company Name</p>
                                        <p>In : Education</p>
                                        <p>Date : 14.09.2018</p>
                                        <p>Location : Dhaka</p>
                                    </div>
                                    <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-job-post">
                                    <div class="img-icon">
                                        <img src="images/company-logo/1.png" alt="">
                                    </div>
                                    <div class="address">
                                        <h6>Hiring Online English Teachers</h6>
                                        <p>Publisher : Company Name</p>
                                        <p>In : Designer</p>
                                        <p>Date : 14.09.2018</p>
                                        <p>Location : Dhaka</p>
                                    </div>
                                    <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-job-post">
                                    <div class="img-icon">
                                        <img src="images/company-logo/1.png" alt="">
                                    </div>
                                    <div class="address">
                                        <h6>Social Media Expert</h6>
                                        <p>Publisher : Company Name</p>
                                        <p>In : Media</p>
                                        <p>Date : 14.09.2018</p>
                                        <p>Location : Dhaka</p>
                                    </div>
                                    <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="recent_job">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-job-post">
                                    <div class="img-icon">
                                        <img src="images/company-logo/1.png" alt="">
                                    </div>
                                    <div class="address">
                                        <h6>Font-End Develper</h6>
                                        <p>Publisher : Company Name</p>
                                        <p>In : Web</p>
                                        <p>Date : 18.05.2018</p>
                                        <p>Location : Dhaka</p>
                                    </div>
                                    <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-job-post">
                                    <div class="img-icon">
                                        <img src="images/company-logo/1.png" alt="">
                                    </div>
                                    <div class="address">
                                        <h6>Senior Software Engineer</h6>
                                        <p>Publisher : Company Name</p>
                                        <p>In : Engineering</p>
                                        <p>Date : 11.05.2018</p>
                                        <p>Location : Dhaka</p>
                                    </div>
                                    <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-job-post">
                                    <div class="img-icon">
                                        <img src="images/company-logo/1.png" alt="">
                                    </div>
                                    <div class="address">
                                        <h6>Platform/Backend Engineer</h6>
                                        <p>Publisher : Company Name</p>
                                        <p>In : Engineering</p>
                                        <p>Date : 09.02.2018</p>
                                        <p>Location : Dhaka</p>
                                    </div>
                                    <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-job-post">
                                    <div class="img-icon">
                                        <img src="images/company-logo/1.png" alt="">
                                    </div>
                                    <div class="address">
                                        <h6>Social media Specialist</h6>
                                        <p>Publisher : Company Name</p>
                                        <p>In : Media</p>
                                        <p>Date : 01.10.2018</p>
                                        <p>Location : Dhaka</p>
                                    </div>
                                    <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-job-post">
                                    <div class="img-icon">
                                        <img src="images/company-logo/1.png" alt="">
                                    </div>
                                    <div class="address">
                                        <h6>Platform/Backend Engineer</h6>
                                        <p>Publisher : Company Name</p>
                                        <p>In : Engineering</p>
                                        <p>Date : 09.02.2018</p>
                                        <p>Location : Dhaka</p>
                                    </div>
                                    <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-job-post">
                                    <div class="img-icon">
                                        <img src="images/company-logo/1.png" alt="">
                                    </div>
                                    <div class="address">
                                        <h6>Hiring Online English Teachers</h6>
                                        <p>Publisher : Company Name</p>
                                        <p>In : Designer</p>
                                        <p>Date : 14.09.2018</p>
                                        <p>Location : Dhaka</p>
                                    </div>
                                    <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Job Post Area -->
    <!--Start of Fun Factor Area-->
    <div class="fun-factor-area bg-6 text-center ptb-100 pt-sm-60 pb-sm-30">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="single-fun-factor">
                        <h1 style="color: black"><span class="counter">100</span> +</h1>
                        <h3 style="color: black">Customers</h3>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="single-fun-factor">
                        <h1 style="color: red"><span class="counter">129</span> +</h1>
                        <h3 style="color: red">members</h3>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="single-fun-factor">
                        <h1 style="color: black"><span class="counter">55</span></h1>
                        <h3 style="color: black">Resume</h3>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="single-fun-factor">
                        <h1 style="color: blue"><span class="counter">120</span></h1>
                        <h3 style="color: blue">Company</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Fun Factor Area-->
    <!-- Working Aera Start -->
    <div class="woring-area pt-130 pb-100 pt-sm-60 pb-sm-30">
        <div class="container">
            <!-- Section Title Start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center ">
                        <h2>How It Works</h2>
                        <p>Lorem ipsum dolor sit amet, contetur adipisil elit sed do</p>
                    </div>
                </div>
            </div>
            <!-- Section Title End -->
            <div class="row work-shap">
                <div class="col-md-4">
                    <div class="work-item">
                        <div class="img-icon">
                            <img src="images/icons/wrk1.png" alt="">
                        </div>
                        <h5>Create An Account</h5>
                        <p>Lorem ipsum dolor sit amet, contetur adipisil elit, sed do eiusmod tempor incididunt ut lab
                            et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-item">
                        <div class="img-icon">
                            <img src="images/icons/wrk2.png" alt="">
                        </div>
                        <h5>Search Desired Job</h5>
                        <p>Lorem ipsum dolor sit amet, contetur adipisil elit, sed do eiusmod tempor incididunt ut lab
                            et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-item">
                        <div class="img-icon">
                            <img src="images/icons/wrk3.png" alt="">
                        </div>
                        <h5>Send Your Resume</h5>
                        <p>Lorem ipsum dolor sit amet, contetur adipisil elit, sed do eiusmod tempor incididunt ut lab
                            et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Working Aera End -->
    <!--Testimonial Area Start-->
    <div class="testimonial-area bg-7 text-center fix ptb-100 ptb-sm-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    <div class="section-title text-white">
                        <h2>Our Clients</h2>
                        <p>Cheers to our clients</p>
                    </div>
                    <div class="testimonial-carousel carousel-style-one">
                        <div class="single-testimonial">
                            <div class="testimonial-text pt-46">
                                <p class="text-white p-0">Very informative and very pleasant. Really helpful in clearing
                                    all my confusion.Looking forward to studying in UK.</p>
                            </div>
                            <div class="testimonial-info">
                                <span class="testimonial-name text-white">Rajshekar R</span>
                            </div>
                        </div>
                        <div class="single-testimonial">
                            <div class="testimonial-text pt-46">
                                <p class="text-white p-0">Really helped me out a lot. And the fact that they are open
                                    every day of the week ensured that I did'nt have to wait for my doubts to be
                                    cleared. They are the reason I got a great score in SAT examination and admission
                                    offers from most places I applied to. I would recommend EduAims to anyone who wants
                                    to take SAT classes and study abroad.</p>
                            </div>
                            <div class="testimonial-info">
                                <span class="testimonial-name text-white">Kiran</span>
                            </div>
                        </div>
                        <div class="single-testimonial">
                            <div class="testimonial-text pt-46">
                                <p class="text-white p-0">Not being that great at academics, I was a bit apprehensive.
                                    The counsellors at EduAims helped me build my profile well enough to get into
                                    LSE.</p>
                            </div>
                            <div class="testimonial-info">
                                <span class="testimonial-name text-white">Jowin J</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Testimonial Area-->
    <!--Start of Blog Area-->
    <div class="blog-area pt-130 pb-110 pt-sm-60 pb-sm-40">
        <div class="container">
            <!-- Section Title Start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center ">
                        <h2>Our Blog</h2>
                        <p>Lorem ipsum dolor sit amet, contetur adipisil elit sed do</p>
                    </div>
                </div>
            </div>
            <!-- Section Title End -->
            <div class="blog-carousel carousel-style-two">
                <!-- Single Item Start -->
                <div class="single-blog hover-effect">
                    <div class="blog-image box-hover">
                        <a href="#" class="block">
                            <img src="/img/blog/1.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-text">
                        <h4><a href="blog-details.html">Standard blog post.</a></h4>
                        <div class="blog-post-info">
                            <span>Feb 13.</span>
                            <span>ADMIN NAME</span>
                            <span>4 comments</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adiicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolor magna aliqua. Ut enim</p>
                    </div>
                </div>
                <!-- Single Item End -->
                <!-- Single Item Start -->
                <div class="single-blog hover-effect">
                    <div class="blog-image box-hover">
                        <a href="#" class="block">
                            <img src="/img/blog/2.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-text">
                        <h4><a href="blog-details.html">Standard blog post.</a></h4>
                        <div class="blog-post-info">
                            <span>Feb 13.</span>
                            <span>ADMIN NAME</span>
                            <span>4 comments</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adiicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolor magna aliqua. Ut enim</p>
                    </div>
                </div>
                <!-- Single Item End -->
                <!-- Single Item Start -->
                <div class="single-blog hover-effect">
                    <div class="blog-image box-hover">
                        <a href="#" class="block">
                            <img src="/img/blog/3.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-text">
                        <h4><a href="blog-details.html">Standard blog post.</a></h4>
                        <div class="blog-post-info">
                            <span>Feb 13.</span>
                            <span>ADMIN NAME</span>
                            <span>4 comments</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adiicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolor magna aliqua. Ut enim</p>
                    </div>
                </div>
                <!-- Single Item End -->
                <!-- Single Item Start -->
                <div class="single-blog hover-effect">
                    <div class="blog-image box-hover">
                        <a href="#" class="block">
                            <img src="/img/blog/1.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-text">
                        <h4><a href="blog-details.html">Standard blog post.</a></h4>
                        <div class="blog-post-info">
                            <span>Feb 13.</span>
                            <span>ADMIN NAME</span>
                            <span>4 comments</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adiicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolor magna aliqua. Ut enim</p>
                    </div>
                </div>
                <!-- Single Item End -->
                <!-- Single Item Start -->
                <div class="single-blog hover-effect">
                    <div class="blog-image box-hover">
                        <a href="#" class="block">
                            <img src="img/blog/2.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-text">
                        <h4><a href="blog-details.html">Standard blog post.</a></h4>
                        <div class="blog-post-info">
                            <span>Feb 13.</span>
                            <span>ADMIN NAME</span>
                            <span>4 comments</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adiicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolor magna aliqua. Ut enim</p>
                    </div>
                </div>
                <!-- Single Item End -->
                <!-- Single Item Start -->
                <div class="single-blog hover-effect">
                    <div class="blog-image box-hover">
                        <a href="#" class="block">
                            <img src="/img/blog/3.jpg" alt="">
                        </a>
                    </div>
                    <div class="blog-text">
                        <h4><a href="blog-details.html">Standard blog post.</a></h4>
                        <div class="blog-post-info">
                            <span>Feb 13.</span>
                            <span>ADMIN NAME</span>
                            <span>4 comments</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adiicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolor magna aliqua. Ut enim</p>
                    </div>
                </div>
                <!-- Single Item End -->
            </div>
        </div>
    </div>
    {% include "login.html.twig" %}
    {% include "register.html.twig" %}
{% endblock %}