{% extends "employerbase.html.twig" %}
{% block title %}Skillsfarm - Recruiter{% endblock %}
{% block body %}
    <section class=" home-parallax home-fade home-full-height" id="home">
        <div class="hero-slider">
            <ul class="slides">
                <li class="bg-dark-30 bg-dark" style="background-image:url(/img/conference.jpg);">
                    <div class="titan-caption">
                        <div class="caption-content">
                            <div class="font-alt mb-30 titan-title-size-1">welcome to</div>
                            <div class="font-alt mb-40 titan-title-size-4">Skillsfarm recruiters</div>
                            <a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
                        </div>
                    </div>
                </li>
                <li class="bg-dark-30 bg-dark" style="background-image:url(/img/book_1.jpg);">
                    <div class="titan-caption">
                        <div class="caption-content">
                            <div class="font-alt mb-30 titan-title-size-2">You can add jobs easily<br/>where in millions
                                of
                                <b>jobseekers</b> visit our site
                            </div>
                            <a class="btn btn-border-w btn-round" href="about">Learn More</a>
                        </div>
                    </div>
                </li>
                <li class="bg-dark-30 bg-dark" style="background-image:url(/img/writing_1.jpg);">
                    <div class="titan-caption">
                        <div class="caption-content">
                            <div class="font-alt mb-30 titan-title-size-1">We build Jobs to the</div>
                            <div class="font-alt mb-40 titan-title-size-3">Amazing Jobseekers</div>
                            <a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <div class="main">
        <section class="module" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h2 class="module-title font-alt">Welcome to Skillsfarm - Recruiter</h2>
                        <div class="module-subtitle font-serif large-text">Engage and attract the best jobseekers talent
                            in INDIA & ABROAD.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-5">
                        <div class="large-text align-center"><a class="section-scroll" href="#services"><i
                                        class="fa fa-angle-down"></i></a></div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="divider-w">
        <section class="module" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Our Job Categories</h2>
                        <div class="module-subtitle font-serif">we’ll help you fill all of your positions in the most
                            cost-effective manner.
                        </div>
                    </div>
                </div>
                <div class="row multi-columns-row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-bike"></span></div>
                            <h3 class="features-title font-alt">Part-Time/Full Time</h3>
                            <p</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-search"></span></div>
                            <h3 class="features-title font-alt">Temporary</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-caution"></span></div>
                            <h3 class="features-title font-alt">Freshers</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-cloud"></span></div>
                            <h3 class="features-title font-alt">Internship</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-genius"></span></div>
                            <h3 class="features-title font-alt">Graduates</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-book-open"></span></div>
                            <h3 class="features-title font-alt">Teaching</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-mobile"></span></div>
                            <h3 class="features-title font-alt">Information Technology</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-lifesaver"></span></div>
                            <h3 class="features-title font-alt">Counselling</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="module-small bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
                        <div class="callout-text font-alt">
                            <h3 class="callout-title">Want to post a Job?</h3>
                            <p>Welcome Offer already in the top.....</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2">
                        <div class="callout-btn-box"><a class="btn btn-w btn-round"
                                                        href="{{ path('_employer_pricing') }}">Lets view pricing</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="module" id="alt-features">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Our features</h2>
                        <div class="module-subtitle font-serif">Advertising options with us to help you
                            recruit the best talent, fast!
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><span class="icon-basket"></span></div>
                            <h3 class="alt-features-title font-alt">Standard Listing</h3>Showcase details of your
                            vacancy
                            to allow jobseekers to search a range of criteria, including screening questions and your
                            own formatting.
                        </div>
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><span class="icon-basket"></span></div>
                            <h3 class="alt-features-title font-alt">Featured Listings</h3>Stand out from the crowd
                            and make sure your jobs are seen first. Always showing in the top section of the results,
                            highlighted and with a social shout-out.
                        </div>
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><span class="icon-compass"></span></div>
                            <h3 class="alt-features-title font-alt">Company Profile</h3>Attract more talent
                            by highlighting your company and benefits with your own branded page. Text, imagery,
                            videos, social media feeds, and more!
                        </div>
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><span class="icon-tools"></span></div>
                            <h3 class="alt-features-title font-alt">Targeted E-shots</h3>Reach the right people, fast
                            with bespoke targeted emails to relevant segments of our user base of over 200,000 active
                            candidates.
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
                        <div class="alt-services-image align-center"><img src="/img/office1.jpg"
                                                                          style="margin-top: 36%;"
                                                                          alt="Feature Image"></div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><span class="icon-search"></span></div>
                            <h3 class="alt-features-title font-alt">Job Search Engines</h3>Syndicate your vacancies
                            to more than 10 job search engines.
                        </div>
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><span class="icon-alarmclock"></span></div>
                            <h3 class="alt-features-title font-alt">Applicant Tracking System</h3>Improving your whole
                            recruitment process
                            used by brands across India and abroad, our applicant tracking system helps you filter, screen, invite
                            to interview, and much more.
                        </div>
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><span class="icon-facebook"></span></div>
                            <h3 class="alt-features-title font-alt">Social Media</h3>Communicating your vacancy
                            to our jobseeker following on social media to give your positions extra promotion.
                        </div>
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><span class="icon-newspaper"></span></div>
                            <h3 class="alt-features-title font-alt">Newsletter Inclusion</h3>Boost applications every
                            month
                            our newsletter is sent out monthly to over 200,000 active registered jobseekers. Join
                            nationwide brands in attracting immediate applications and interest.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="divider-w">
        <section class="module module-small module-video bg-dark-30" data-background="/img/things.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Scoreboard</h2>
                        <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire
                            soul, like these sweet mornings of spring which I enjoy with my whole heart.
                        </div>
                    </div>
                </div>
                <div class="row multi-columns-row">
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="count-item mb-sm-40">
                            <div class="count-icon"><span class="icon-appearance"></span></div>
                            <h3 class="count-to font-alt" data-countto="100"></h3>
                            <h5 class="count-title font-serif">Jobseekers</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="count-item mb-sm-40">
                            <div class="count-icon"><span class="icon-basket"></span></div>
                            <h3 class="count-to font-alt" data-countto="150"></h3>
                            <h5 class="count-title font-serif">Company</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="count-item mb-sm-40">
                            <div class="count-icon"><span class="icon-wallet"></span></div>
                            <h3 class="count-to font-alt" data-countto="1"></h3>
                            <h5 class="count-title font-serif">Site</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="count-item mb-sm-40">
                            <div class="count-icon"><span class="icon-refresh"></span></div>
                            <h3 class="count-to font-alt" data-countto="240"></h3>
                            <h5 class="count-title font-serif">Resume</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="module module-small bg-dark-60 pt-0 pb-0 parallax-bg testimonial"
                 data-background="/img/employer.jpg" style="margin-top: 6%;">
            <div class="testimonials-slider pt-140 pb-140">
                <ul class="slides">
                    <li>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="module-icon"><span class="icon-quote"></span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <blockquote class="testimonial-text font-alt">Really helped me out a lot. And the fact that they are open
                                        every day of the week ensured that I did'nt have to wait for my doubts to be
                                        cleared. They are the reason I got a great score in SAT examination and admission
                                        offers from most places I applied to. I would recommend EduAims to anyone who wants
                                        to take SAT classes and study abroad.
                                    </blockquote>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <div class="testimonial-author">
                                        <div class="testimonial-caption font-alt">
                                            <div class="testimonial-title">Kiran</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="module-icon"><span class="icon-quote"></span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <blockquote class="testimonial-text font-alt">Not being that great at academics, I was a bit apprehensive.
                                        The counsellors at EduAims helped me build my profile well enough to get into
                                        LSE.
                                    </blockquote>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <div class="testimonial-author">
                                        <div class="testimonial-caption font-alt">
                                            <div class="testimonial-title">Jowin J</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="module-icon"><span class="icon-quote"></span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <blockquote class="testimonial-text font-alt">Very informative and very pleasant. Really helpful in clearing
                                        all my confusion.Looking forward to studying in UK.
                                    </blockquote>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <div class="testimonial-author">
                                        <div class="testimonial-caption font-alt">
                                            <div class="testimonial-title">Rajshekar R</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <div class="module-small bg-dark" style="margin-top: 6%;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
                        <div class="callout-text font-alt">
                            <h3 class="callout-title">Let us contact you</h3>
                            <p>We will not spam your email.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="callout-btn-box">
                            <img src="/img/loading1.gif" id="notify-loader"
                                 style="width: 100px;height: 73px;display: none;margin-left: 30%;">
                            <div class="input-group" id="notify-span">
                                <input class="form-control" type="email" id="emailtonotify" name="emailtonotify" required="required"
                                       placeholder="Please Leave your email address"
                                       data-validation-required-message="Please Leave your email address."
                                       required="required"/><span class="input-group-btn">
                            <button class="btn btn-g btn-round" id="subscription-form-submit" onclick="submitnotify();">Submit</button></span>
                            </div>
                            <div class="text-center" id="subscription-response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "employerfooter.html.twig" %}
    </div>
{% endblock %}