{% extends "employerbase.html.twig" %}
{% block title %}Skillsfarm - Recruiter{% endblock %}
{% block body %}
    <section class=" home-parallax home-fade home-full-height" id="home">
        <div class="hero-slider">
            <ul class="slides">
                <li class="bg-dark-30 bg-dark" style="background-image:url(/img/conference.jpg);">
                    <div class="titan-caption">
                        <div class="caption-content">
                            <div class="font-alt mb-30 titan-title-size-1">Hello & welcome to</div>
                            <div class="font-alt mb-40 titan-title-size-4">Skillsfarm recruiters</div>
                            <a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
                        </div>
                    </div>
                </li>
                <li class="bg-dark-30 bg-dark" style="background-image:url(/img/book_1.jpg);">
                    <div class="titan-caption">
                        <div class="caption-content">
                            <div class="font-alt mb-30 titan-title-size-2">You can add jobs easily<br/>where millions of
                                jobseeker visit our site
                            </div>
                            <a class="btn btn-border-w btn-round" href="about">Learn More</a>
                        </div>
                    </div>
                </li>
                <li class="bg-dark-30 bg-dark" style="background-image:url(/img/writing_1.jpg);">
                    <div class="titan-caption">
                        <div class="caption-content">
                            <div class="font-alt mb-30 titan-title-size-1">We build Jobs to the</div>
                            <div class="font-alt mb-40 titan-title-size-3">Amazing Jobseekers</div>
                            <a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <div class="main">
        <section class="module" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h2 class="module-title font-alt">Welcome to Titan</h2>
                        <div class="module-subtitle font-serif large-text">We’re an award winning London based digital
                            agency, lovingly curating pixels for maximum impact. We don’t have a style — we have
                            standards.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-5">
                        <div class="large-text align-center"><a class="section-scroll" href="#services"><i
                                        class="fa fa-angle-down"></i></a></div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="divider-w">
        <section class="module" id="services">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Our Services</h2>
                        <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire
                            soul, like these sweet mornings of spring which I enjoy with my whole heart.
                        </div>
                    </div>
                </div>
                <div class="row multi-columns-row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-lightbulb"></span></div>
                            <h3 class="features-title font-alt">Ideas and concepts</h3>
                            <p>Careful attention to detail and clean, well structured code ensures a smooth user
                                experience for all your visitors.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-bike"></span></div>
                            <h3 class="features-title font-alt">Optimised for speed</h3>
                            <p>Careful attention to detail and clean, well structured code ensures a smooth user
                                experience for all your visitors.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-tools"></span></div>
                            <h3 class="features-title font-alt">Designs &amp; interfaces</h3>
                            <p>Careful attention to detail and clean, well structured code ensures a smooth user
                                experience for all your visitors.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-gears"></span></div>
                            <h3 class="features-title font-alt">Highly customizable</h3>
                            <p>Careful attention to detail and clean, well structured code ensures a smooth user
                                experience for all your visitors.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-tools-2"></span></div>
                            <h3 class="features-title font-alt">Coding &amp; development</h3>
                            <p>Careful attention to detail and clean, well structured code ensures a smooth user
                                experience for all your visitors.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-genius"></span></div>
                            <h3 class="features-title font-alt">Features &amp; plugins</h3>
                            <p>Careful attention to detail and clean, well structured code ensures a smooth user
                                experience for all your visitors.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-mobile"></span></div>
                            <h3 class="features-title font-alt">Responsive design</h3>
                            <p>Careful attention to detail and clean, well structured code ensures a smooth user
                                experience for all your visitors.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-lifesaver"></span></div>
                            <h3 class="features-title font-alt">Dedicated support</h3>
                            <p>Careful attention to detail and clean, well structured code ensures a smooth user
                                experience for all your visitors.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="module-small bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
                        <div class="callout-text font-alt">
                            <h3 class="callout-title">Want to see more works?</h3>
                            <p>We are always open to interesting projects.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2">
                        <div class="callout-btn-box"><a class="btn btn-w btn-round"
                                                        href="portfolio_boxed_gutter_col_3.html">Lets view portfolio</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="module" id="alt-features">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Our features</h2>
                        <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire
                            soul, like these sweet mornings of spring which I enjoy with my whole heart.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><span class="icon-strategy"></span></div>
                            <h3 class="alt-features-title font-alt">Branding</h3>A wonderful serenity has taken
                            possession of my entire soul like these sweet mornings.
                        </div>
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><span class="icon-tools-2"></span></div>
                            <h3 class="alt-features-title font-alt">Development</h3>A wonderful serenity has taken
                            possession of my entire soul like these sweet mornings.
                        </div>
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><span class="icon-target"></span></div>
                            <h3 class="alt-features-title font-alt">Marketing</h3>A wonderful serenity has taken
                            possession of my entire soul like these sweet mornings.
                        </div>
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><span class="icon-tools"></span></div>
                            <h3 class="alt-features-title font-alt">Design</h3>A wonderful serenity has taken possession
                            of my entire soul like these sweet mornings.
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
                        <div class="alt-services-image align-center"><img src="/assets/images/promo.png"
                                                                          alt="Feature Image"></div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><span class="icon-camera"></span></div>
                            <h3 class="alt-features-title font-alt">Photography</h3>A wonderful serenity has taken
                            possession of my entire soul like these sweet mornings.
                        </div>
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><span class="icon-mobile"></span></div>
                            <h3 class="alt-features-title font-alt">Mobile</h3>A wonderful serenity has taken possession
                            of my entire soul like these sweet mornings.
                        </div>
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><span class="icon-linegraph"></span></div>
                            <h3 class="alt-features-title font-alt">Music</h3>A wonderful serenity has taken possession
                            of my entire soul like these sweet mornings.
                        </div>
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><span class="icon-basket"></span></div>
                            <h3 class="alt-features-title font-alt">Shop</h3>A wonderful serenity has taken possession
                            of my entire soul like these sweet mornings.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="divider-w">
        <section class="module module-small module-video bg-dark-30" data-background="/img/things.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Scoreboard</h2>
                        <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire
                            soul, like these sweet mornings of spring which I enjoy with my whole heart.
                        </div>
                    </div>
                </div>
                <div class="row multi-columns-row">
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="count-item mb-sm-40">
                            <div class="count-icon"><span class="icon-appearance"></span></div>
                            <h3 class="count-to font-alt" data-countto="100"></h3>
                            <h5 class="count-title font-serif">Jobseekers</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="count-item mb-sm-40">
                            <div class="count-icon"><span class="icon-basket"></span></div>
                            <h3 class="count-to font-alt" data-countto="150"></h3>
                            <h5 class="count-title font-serif">Company</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="count-item mb-sm-40">
                            <div class="count-icon"><span class="icon-wallet"></span></div>
                            <h3 class="count-to font-alt" data-countto="1"></h3>
                            <h5 class="count-title font-serif">Site</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="count-item mb-sm-40">
                            <div class="count-icon"><span class="icon-refresh"></span></div>
                            <h3 class="count-to font-alt" data-countto="240"></h3>
                            <h5 class="count-title font-serif">Resume</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="module module-small bg-dark-60 pt-0 pb-0 parallax-bg testimonial"
                 data-background="/img/employer.jpg" style="margin-top: 6%;">
            <div class="testimonials-slider pt-140 pb-140">
                <ul class="slides">
                    <li>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="module-icon"><span class="icon-quote"></span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <blockquote class="testimonial-text font-alt">I am alone, and feel the charm of
                                        existence in this spot, which was created for the bliss of souls like mine.
                                    </blockquote>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <div class="testimonial-author">
                                        <div class="testimonial-caption font-alt">
                                            <div class="testimonial-title">Jack Woods</div>
                                            <div class="testimonial-descr">SomeCompany INC, CEO</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="module-icon"><span class="icon-quote"></span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <blockquote class="testimonial-text font-alt">I should be incapable of drawing a
                                        single stroke at the present moment; and yet I feel that I never was a greater
                                        artist than now.
                                    </blockquote>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <div class="testimonial-author">
                                        <div class="testimonial-caption font-alt">
                                            <div class="testimonial-title">Jim Stone</div>
                                            <div class="testimonial-descr">SomeCompany INC, CEO</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="module-icon"><span class="icon-quote"></span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <blockquote class="testimonial-text font-alt">I am so happy, my dear friend, so
                                        absorbed in the exquisite sense of mere tranquil existence, that I neglect my
                                        talents.
                                    </blockquote>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <div class="testimonial-author">
                                        <div class="testimonial-caption font-alt">
                                            <div class="testimonial-title">Adele Snow</div>
                                            <div class="testimonial-descr">SomeCompany INC, CEO</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <div class="module-small bg-dark" style="margin-top: 6%;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
                        <div class="callout-text font-alt">
                            <h3 class="callout-title">Let us contact you</h3>
                            <p>We will not spam your email.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="callout-btn-box">
                            <img src="/img/loading1.gif" id="notify-loader"
                                 style="width: 100px;height: 73px;display: none;margin-left: 30%;">
                            <div class="input-group" id="notify-span">
                                <input class="form-control" type="email" id="email" name="email"
                                       placeholder="Please Leave your email address"
                                       data-validation-required-message="Please Leave your email address."
                                       required="required"/><span class="input-group-btn">
                        <button class="btn btn-g btn-round" id="subscription-form-submit" onclick="submitnotify();">Submit</button></span>
                            </div>
                            <div class="text-center" id="subscription-response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "employerfooter.html.twig" %}
    </div>
{% endblock %}