{% extends "employerbase.html.twig" %}
{% block title %}Skillsfarm - Recruiter{% endblock %}
{% block body %}
    <div class="main">
        <section class="module bg-dark-60 bg-dark pricing-page-header" data-background="/img/desk_1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Our Prices</h2>
                        <div class="module-subtitle font-serif">Special Inauguration offers only for you.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="module">
            <div class="container">
                <div class="row multi-columns-row">
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="price-table font-alt">
                            <h4>Bronze</h4>
                            <div class="borderline"></div>
                            <p class="price"><span>Rs</span> 999
                            </p>
                            <ul class="price-details">
                                <li>Free Support</li>
                                <li>1 Day RDA</li>
                                <li><span>Premium Job Posting</span></li>
                            </ul>
                            <a class="btn btn-d btn-round" href="#">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="price-table font-alt">
                            <h4>Silver</h4>
                            <div class="borderline"></div>
                            <p class="price"><span>Rs</span> 5999
                            </p>
                            <ul class="price-details">
                                <li>Free Support</li>
                                <li>1 Week RDA</li>
                                <li>5 Premium Job Posting</li>
                            </ul>
                            <a class="btn btn-d btn-round" href="#">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="price-table font-alt best">
                            <h4>Gold</h4>
                            <p class="small">Best Choice</p>
                            <div class="borderline"></div>
                            <p class="price"><span>Rs</span> 8999
                            </p>
                            <ul class="price-details">
                                <li>Free Support</li>
                                <li>15 Days RDA</li>
                                <li>10 Premium Job Posting</li>
                            </ul>
                            <a class="btn btn-d btn-round" href="#">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="price-table font-alt">
                            <h4>Diamond</h4>
                            <div class="borderline"></div>
                            <p class="price"><span>Rs</span> 12999
                            </p>
                            <ul class="price-details">
                                <li>Free Support</li>
                                <li>1 Month RDA</li>
                                <li>15 Premium Job Posting</li>
                            </ul>
                            <a class="btn btn-d btn-round" href="#">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-40">
                    <div class="col-sm-6 col-sm-offset-3 align-center">
                        <p>RDA - Resume Database Access</p>
                        <p>Quick Job Posting - Rs 2999 /- Only</p>
                        <p>All Above rate GST Excluded(18%)</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <hr class="divider-d">
    {% include "employerfooter.html.twig" %}
{% endblock %}
