*.log
/blogs/wp-config.php
/blogs/wp-content/advanced-cache.php
/blogs/wp-content/backup-db/
/blogs/wp-content/backups/
/blogs/wp-content/blogs.dir/
/blogs/wp-content/cache/
/blogs/wp-content/upgrade/
/blogs/wp-content/uploads/
/blogs/wp-content/mu-plugins/
/blogs/wp-content/wp-cache-config.php
/blogs/wp-content/plugins/hello.php

/blogs/.htaccess
/blogs/license.txt
/blogs/readme.html
/blogs/sitemap.xml
/blogs/sitemap.xml.gz
