{% extends "base.html.twig" %}
{% block title %}Skillsfarm{% endblock %}
{% block body %}
    <div class="breadcrumb-banner-area pt-94 pb-85 bg-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-text">
                        <h2 class="text-center">Communication Skills</h2>
                        <div class="breadcrumb-bar">
                            <ul class="breadcrumb text-center m-0">
                             <li><a href="/">Home</a></li>
                                <li>Job Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Breadcrumb Banner Area-->
    <!--Start of Single Job Post Area-->
    <div class="single-job-post-area ptb-130 ptb-sm-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title"><span>Communication Skills</span></div>
                    <div class="single-job-content">
                        <div class="area-title">
                            <div class="single-job-post">
                                <div class="img-icon">
                                    <img src="images/company-logo/1.png" alt="">
                                </div>
                                <div class="address">
                                    <h6>Communication is a two way process. Thus, improving communication involves both
                                        how we send and receive messages.</h6>

                                <h6>Learn to Listen</h6>
                                <p>Listening is not the same as hearing</p>
                                <h6>Be Aware of Emotions of other People</h6>
                                <p>Be sympathetic to other people's misfortunes and congratulate their positive
                                    landmarks. To do this you need to be aware of what is going on in other people’s
                                    lives.</p>
                            </div>
                        </div>
                    </div>

                    <div class="area-title">
                        <div class="single-job-post">
                            <div class="img-icon">
                                <img src="images/company-logo/1.png" alt="">
                            </div>
                            <div class="address">
                                <h6>Empathise</h6>
                                <p>Empathy is trying to see things from the point-of-view of others. When
                                    communicating with others, try not to be judgemental or biased by preconceived
                                    ideas or beliefs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="area-title">
                        <div class="single-job-post">
                            <div class="img-icon">
                                <img src="images/company-logo/1.png" alt="">
                            </div>
                            <div class="address">
                                <div class="title"><span>Encourage</span></div>
                                <p>Offer words and actions of encouragement, as well as praise, to others. Make
                                    other people feel welcome, wanted, valued and appreciated in your
                                    communications..</p>
                            </div>
                        </div>
                    </div>

                    <div class="area-title">
                        <div class="single-job-post">
                            <div class="img-icon">
                                <img src="images/company-logo/1.png" alt="">
                            </div>
                            <div class="address">
                                <div class="title"><span>Use Humour</span></div>
                                <p>
                                    Laughing releases endorphins that can help relieve stress and anxiety; most
                                    people like to laugh and will feel drawn to somebody who can make them laugh.
                                    Don’t be afraid to be funny or clever, but do ensure your humour is appropriate
                                    to the situation. Use your sense of humour to break the ice, to lower barriers
                                    and gain the affection of others. By using appropriate humour you will be
                                    perceived as more charismatic.</p>
                            </div>
                        </div>
                    </div>

                    <div class="area-title">
                        <div class="single-job-post">
                            <div class="img-icon">
                                <img src="images/company-logo/1.png" alt="">
                            </div>
                            <div class="address">
                                <div class="title"><span>Treat People Equally</span></div>
                                <p>
                                    Always aim to communicate on an equal basis and avoid patronising people. Do not
                                    talk about others behind their backs and try not to develop favourites: by
                                    treating people as your equal and also equal to each other you will build trust
                                    and respect. Check that people understand what you have said to avoid confusion
                                    and negative feelings. Encourage open and honest feedback from the receiver to
                                    ensure your message is understood and to avoid the receiver instead feeding back
                                    what they think you want to hear. If confidentiality is an issue, make sure its
                                    boundaries are known and ensure its maintenance.</p>
                            </div>
                        </div>
                    </div>


                    <div class="area-title">
                        <div class="single-job-post">
                            <div class="img-icon">
                                <img src="images/company-logo/1.png" alt="">
                            </div>
                            <div class="address">
                                <div class="title"><span>Attempt to Resolve Conflict</span></div>
                                <p>
                                    Learn to troubleshoot and resolve problems and conflicts as they arise. Learn
                                    how to be an effective mediator and negotiator. Use your listening skills to
                                    hear and understand both sides of any argument - encourage and facilitate people
                                    to talk to each other. Try not to be biased or judgemental but instead ease the
                                    way for conflict resolution.</p>
                            </div>
                        </div>
                    </div>


                    <div class="area-title">
                        <div class="single-job-post">
                            <div class="img-icon">
                                <img src="images/company-logo/1.png" alt="">
                            </div>
                            <div class="address">
                                <div class="title"><span>Maintain a Positive Attitude and Smile</span></div>
                                <p>
                                    Few people want to be around someone who is frequently miserable. Do your best
                                    to be friendly, upbeat and positive with other people. Maintain a positive,
                                    cheerful attitude to life: when things do not go to plan, stay optimistic and
                                    learn from your mistakes. If you smile often and stay cheerful, people are more
                                    likely to respond positively to you. See Personal Presentation for more.</p>
                            </div>
                        </div>
                    </div>

                    <div class="area-title">
                        <div class="single-job-post">
                            <div class="img-icon">
                                <img src="images/company-logo/1.png" alt="">
                            </div>
                            <div class="address">
                                <div class="title"><span>Minimise Stress</span></div>
                                <p><b>
                                        Some communication scenarios are, by their nature, stressful. Stress can however
                                        be a major barrier to effective communication, all parties should try to remain
                                        calm and focused.</b>
                                    For tips and advice about stress relief and avoidance see our pages: Avoiding Stress
                                    and Tips for Relieving Stress. It is also important to learn how to relax we have a
                                    series of pages covering Relaxation Techniques.</p>
                            </div>
                        </div>
                    </div>

                    <div class="area-title">
                        <div class="single-job-post">
                            <div class="img-icon">
                                <img src="images/company-logo/1.png" alt="">
                            </div>
                            <div class="address">
                                <div class="title"><span>Only Complain when Absolutely Necessary</span></div>
                                <p>
                                    People will not be drawn to you if you are constantly complaining or whining. If
                                    something makes you angry or upset, wait for a few hours and calm down before
                                    taking action. If you do complain, do so calmly, try to find some positive
                                    aspects to the situation and avoid giving unnecessary criticism.
                                </p>
                                <p>Advanced communication skill</p>
                                <p> Foreign languages</p>
                                <p> Business English</p>
                                <p> Accent neutralization</p>
                                <p> Phonetics</p>
                                <p> Public speaking</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% include "login.html.twig" %}
    {% include "register.html.twig" %}
{% endblock %}