{% extends "base.html.twig" %}
{% block title %}Skillsfarm{% endblock %}
{% block body %}
    <div class="breadcrumb-banner-area pt-94 pb-85 bg-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                 <div class="breadcrumb-text" style="padding-left: 42%;">
                        <h2 class="text-center">Faculty Training</h2>
                        <div class="breadcrumb-bar">
                            <ul class="breadcrumb text-center m-0">
                             <li><a href="/">Home</a></li>
                                <li>Job Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Breadcrumb Banner Area-->
    <!--Start of Single Job Post Area-->
    <div class="single-job-post-area ptb-130 ptb-sm-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title"><span>Faculty Training</span></div>
                    <div class="single-job-content">
                        <div class="area-title">
                            <div class="single-job-post">
                                <div class="img-icon">
                                    <img src="images/company-logo/1.png" alt="">
                                </div>
                                <div class="address">
                                    <p> Effective teaching skills</p>
                                    <p> Leadership and communication skills</p>
                                    <p> Innovative teaching methods</p>
                                    <p>Child or student based teaching skills</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "login.html.twig" %}
    {% include "register.html.twig" %}
{% endblock %}

