{% extends "base.html.twig" %}
{% block title %}Skills Farm{% endblock %}
{% block body %}
    <div class="breadcrumb-banner-area pt-94 pb-85 bg-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-text">
                        <h2 class="text-center">Placement Services</h2>
                        <div class="breadcrumb-bar">
                            <ul class="breadcrumb text-center m-0">
                                <li><a href="index.html">Home</a></li>
                                <li>Job Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Breadcrumb Banner Area-->
    <!--Start of Single Job Post Area-->
    <div class="single-job-post-area ptb-130 ptb-sm-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title"><span>School Affiliation</span></div>
                    <div class="single-job-content">
                        <div class="area-title">
                            <div class="single-job-post">
                                <div class="img-icon">
                                    <img src="images/company-logo/1.png" alt="">
                                </div>
                                <div class="address">
                                    <p>C.B.S.E.</p>
                                    <p> I.C.S.E.</p>
                                    <p> IB</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "login.html.twig" %}
    {% include "register.html.twig" %}
{% endblock %}

