{% extends "base.html.twig" %}
{% block title %}Skillsfarm{% endblock %}
{% block body %}
    <div class="breadcrumb-banner-area pt-94 pb-85 bg-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                 <div class="breadcrumb-text" style="padding-left: 42%;">
                        <h2 class="text-center">Soft skills</h2>
                        <div class="breadcrumb-bar">
                            <ul class="breadcrumb text-center m-0">
                             <li><a href="/">Home</a></li>
                                <li>Soft skills</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Breadcrumb Banner Area-->
    <!--Start of Single Job Post Area-->
    <div class="single-job-post-area ptb-130 ptb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title"><span>Soft skills</span></div>
                <div class="single-job-content">
                    <div class="area-title">
                        <div class="single-job-post">
                            <div class="img-icon">
                                <img src="images/company-logo/1.png" alt="">
                            </div>
                            <div class="address">
                                <h6>Leadership skills</h6>
                                <p>Gives first-time and front-line managers the foundational skills to better manage
                                    people, training them to lead teams and manage performance. It also provides
                                    ongoing performance support activities to ensure behaviour change in the
                                    workplace. Flexible, technology-enabled elearning solutions can be used in a
                                    variety of formal and informal ways to reinforce existing leadership training
                                    programs which increase their impact. This makes a huge difference in the
                                    managers' ability and confidence.</p>
                                <p>Assertive skills</p>
                                <p>Work place ethics</p>
                                <p>Email/telephone etiquettes</p>
                                <p>Career planning and management</p>
                            </div>
                        </div>
                    </div>

                    <div class="area-title">
                        <div class="single-job-post">
                            <div class="img-icon">
                                <img src="images/company-logo/1.png" alt="">
                            </div>
                            <div class="address">
                                <h6>Effective communications skills:</h6>
                                <p>Effective communication skills are fundamental to success in many aspects of
                                    life. Many jobs require strong communication skills and socially people with
                                    improved communication skills usually enjoy better interpersonal relationships
                                    with friends and family.</p>
                                <p>Effective communication is a key interpersonal skill and by learning how we can
                                    improve our communication has many benefits.</p>
                            </div>
                        </div>
                    </div>
                    <div class="area-title">
                        <div class="single-job-post">
                            <div class="img-icon">
                                <img src="images/company-logo/1.png" alt="">
                            </div>
                            <div class="address">
                                <div class="title"><span>Time management:</span></div>
                                <h6>
                                    Delegate Tasks:</h6>
                                <p>
                                    It is common for all of us to take more tasks than our desired potential. This
                                    can often result in stress and burnout. Delegation is not running away from your
                                    responsibilities but is an important function of management. Learn the art of
                                    delegating work to your subordinates as per their skills and abilities.</p>
                                <h6>
                                    Prioritize Work:</h6>
                                <p>
                                    Before the start of the day, make a list of tasks that need your immediate
                                    attention as unimportant tasks can consume much of your precious time. Some
                                    tasks need to be completed on that day only while other unimportant tasks could
                                    be carried forward to next day. In short, prioritize your tasks to focus on
                                    those that are more important.</p>
                                <h6>
                                    Avoid Procrastination:</h6>
                                <p>
                                    Procrastination is one of the things that badly affect the productivity. It can
                                    result is wasting essential time and energy. It should be avoided at all costs.
                                    It could be a major problem in both your career and your personal life.</p>
                                <h6>
                                    Schedule Tasks:</h6>
                                <p>
                                    Carry a planner or notebook with you and list all the tasks that come to your
                                    mind. Make a simple ‘To Do’ list before the start of the day, prioritize the
                                    tasks, and make sure that they are attainable. To better manage your time
                                    management skills, you may think of making 3 lists: work, home, and
                                    personal.</p>
                                <h6>
                                    Avoid Stress:</h6>
                                <p>
                                    Stress often occurs when we accept more work than our ability. The result is
                                    that our body starts feeling tired which can affect our productivity. Instead,
                                    delegate tasks to your juniors and make sure to leave some time for
                                    relaxation.</p>
                                <h6>
                                    Set up Deadlines:</h6>
                                <p>
                                    When you have a task at hand, set a realistic deadline and stick to it. Try to
                                    set a deadline few days before the task so that you can complete all those tasks
                                    that may get in the way. Challenge yourself and meet the deadline. Reward
                                    yourself for meeting a difficult challenge.</p>
                                <h6>
                                    Avoid Multitasking:</h6>
                                <p>
                                    Most of us feel that multitasking is an efficient way of getting things done but
                                    the truth is that we do better when we focus and concentrate on one thing.
                                    Multitasking hampers productivity and should be avoided to improve time
                                    management skills.</p>
                                <h6>
                                    Start Early:</h6>
                                <p>
                                    Most of the successful men and women have one thing in common. They start their
                                    day early as it gives them time to sit, think, and plan their day. When you get
                                    up early, you are more calm, creative, and clear-headed. As the day progresses,
                                    your energy levels starts going down which affects your productivity and you
                                    don’t perform as well.</p>
                                <h6>
                                    Take Some Breaks:</h6>
                                <p>
                                    Whenever you find yourself for 10-15 minutes, take a break. Too much stress can
                                    take toll on your body and affect your productivity. Take a walk, listen to some
                                    music or do some quick stretches. The best idea is to take off from work and
                                    spend time with your friends and family.</p>
                                <h6>
                                    Learn to say No:</h6>
                                <p>
                                    Politely refuse to accept additional tasks if you think that you’re already
                                    overloaded with work. Take a look at your ‘To Do’ list before agreeing to take
                                    on extra work.</p>
                            </div>
                        </div>
                    </div>

                    <div class="area-title">
                        <div class="single-job-post">
                            <div class="img-icon">
                                <img src="images/company-logo/1.png" alt="">
                            </div>
                            <div class="address">
                                <div class="title"><span>Professional Etiquette:</span></div>
                                <h6>
                                    For Cubicles</h6>
                                <p>
                                    Even if there aren’t four walls and a door marking the area, you need to respect
                                    everyone else’s work space. Four etiquette rules:<br>
                                    <br>
                                    <strong>1. Don’t “prairie dog.”</strong> Walk around the partition to see a
                                    neighbor, instead of popping your head over the top. And as you walk down the
                                    passageways, don’t peek into each workstation.<br>
                                    <br>
                                    <strong>2. Grant your neighbors private time.</strong> Stagger lunch breaks to
                                    provide everyone a few minutes alone at their desks.<br>
                                    <br>
                                    <strong>3. Don’t chime in to conversations you hear over the wall.</strong> Whether
                                    it’s a work question you can answer or a private conversation you’d rather not hear,
                                    ignore comments that aren’t directed at you.<br>
                                    <br>
                                    <strong>4. Keep lunch in the kitchen.</strong> Or, when you absolutely can’t leave
                                    your desk for a meal, choose foods without strong odors, and dispose of your trash
                                    in the kitchen, not in your own wastebasket.</p>
                                <h6>
                                    'Casual dress' Etiquette</h6>
                                <p>
                                    <em>Casual. Corporate casual. Business casual. Smart casual. Resort casual.</em>
                                    Don’t leave meeting attendees baffled about your event’s dress code.<br>
                                    <br>
                                    Explain what you mean by “business casual” or “corporate casual,” etc. with examples
                                    of appropriate attire for men and women. One event’s “resort casual” encouraged
                                    wearing jeans, while another explained that shorts were acceptable, but not denim or
                                    cutoffs.</p>
                                <h6>
                                    How to Finesse Awkward, Embarrassing Situations</h6>
                                <p>
                                    Knowing whether or not to tell your CEO that he has spinach stuck in his teeth is
                                    one sure test of your business etiquette skills.<br>
                                    (<strong>Answer:</strong> <em>Tell him, but discreetly.</em>)<br>
                                    <strong>The situation:</strong> <em>You find a personal—and potentially
                                        embarrassing—document left behind on the photocopier.</em><br>
                                    <strong>Solution:</strong> Normally, you’d put forgotten pages in a tray beside the
                                    copier, for people to claim later. In this case, though, deliver the document in
                                    person, advises Peter Post, author of <em>The Etiquette Advantage in Business.</em>
                                </p>
                                <h6>
                                    Handshake etiquettes set the stage for instant rapport</h6>
                                <p>
                                    A good, well-timed handshake to pair with your smile is a sure way to stand out,
                                    whether you’re at the company picnic or an industry conference.<br>
                                    <em>Here’s how important it is:</em> A prospective employee with the best handshake
                                    is more likely to get the job, research shows.<br>
                                    Even if you’re not a job-seeker, a good handshake will grant you instant rapport
                                    when meeting someone new.</p>
                                <h6>
                                    Job Etiquette when a co-worker gets the pink slip</h6>
                                <p>
                                    Your friend at work gets handed a pink slip, and now you feel awkward. So awkward,
                                    in fact, that you’re tempted to do nothing. But that’s the last thing you should do.<br>
                                    Here’s how to deal with the situation:<br>
                                    <strong>1. React quickly, or risk appearing insensitive.</strong> Even if you can
                                    say only, “I’m sorry. And I don’t know what to say.”<br>
                                    <br>
                                    <strong>2. Steer clear of downplaying or saying anything inauthentic.</strong> Avoid
                                    saying things like, “This place is going down the tubes” or “I know how you
                                    feel.”<br>
                                    <br>
                                    <strong>3. Set up a gathering, once the initial shock has faded.</strong> Make it
                                    just the two of you or invite others, so you have time to say goodbye outside the
                                    office. Keep it focused on the person, and “understand that some things are out of
                                    our control,” advises psychologist Kenneth E. Reinhard.</p>
                                <h6>
                                    Guest etiquettes to roll out the red carpet for visitors</h6>
                                <p>
                                    When a VIP comes to your office, how do you dole out extra-special treatment?<br>
                                    Being friendly and responsive is the key to treating VIPs well, says Peter Post.<br>
                                    Find out how to implement Post's advice and more in 14 Tips on Business Etiquette.
                                </p>
                                <h6>
                                    Business phone etiquette to Soothe angry callers</h6>
                                <p>
                                    Turn a growling caller into a purring, pleased customer with these telephone
                                    etiquette techniques:<br>
                                    <br>
                                    1. Bite your tongue. When someone screams on the phone, your first thought may be,
                                    “What a jerk!” But that attitude will only poison an already-tenuous relationship
                                    with the caller. Instead, stay calm and listen.<br>
                                    <br>
                                    2. Let ’em vent. Like a whistling kettle, angry callers need to vent some steam.
                                    Don’t interrupt—even with a solution—before they tell their story.<br>
                                    <br>
                                    3. Take it down a notch. Instead of raising your voice to match the caller’s volume,
                                    speak softly. That will soothe the speaker and show him or her that you’re
                                    interested in handling the complaint in a calm, rational way.</p>
                                <h6>
                                    Business Kitchen faux pas</h6>
                                <p>
                                    Some employees can tolerate co-workers’ swearing and rude behavior, but don’t even
                                    dream of touching their yogurt or ham sandwiches. The most offensive thing an office
                                    worker can do is steal colleagues’ food from the office fridge, says a
                                    TheLadders.com survey of <strong>2,500 U.S. employees.</strong> A full <strong>98%
                                        agreed</strong> that fridge raiding was unacceptable workplace etiquette.<br>
                                    <br>
                                    Respondents also cited, in order: bad hygiene, bad habits, drinking on the job,
                                    swearing, wasting paper, cooking smelly food in the microwave and using a BlackBerry
                                    in meetings.<br>
                                    <br>
                                    <strong>Help everyone keep the fridge clean</strong><br>
                                    <br>
                                    The greatest mystery in many workplaces is what’s lurking in the office
                                    refrigerator. Go beyond scheduling regular “use it or lose it” deadlines. Follow
                                    these tips:<br>
                                    <br>
                                    <strong>1. Post a copy of the clean-fridge policy</strong> on the refrigerator door,
                                    so no one will have any excuses.<br>
                                    <br>
                                    <strong>2. Make it easy for people to label containers</strong> with their names and
                                    expiration dates by keeping a marking pen and tape in the kitchen.<br>
                                    <br>
                                    <strong>3. Promote safe food storage</strong> by posting the USDA’s cold storage
                                    chart.</p>
                                <h6>
                                    Keeping it low-key when passing the hat while making office donations</h6>
                                <p>
                                    Not only is there no such thing as a free lunch, but those birthday cakes for
                                    co-workers can cost you, too.<br>
                                    <br>
                                    It’s not unusual to be asked to help pay for celebrations at the office, such as
                                    birthdays and baby showers. In a survey by OfficeTeam, more than 75% of respondents
                                    said employees chip in at least once a year; 15% said employees receive donation
                                    requests monthly.</p>
                                <h6>
                                    Business letter etiquette and the art of the personal note</h6>
                                <p>
                                    Angela Ensminger, co-author of <em>On a Personal Note: A Guide to Writing Notes with
                                        Style (Hallmark),</em> told attendees at an International Association of
                                    Administrative Professionals convention that great personal notes come from taking
                                    these three steps:<br>
                                    <br>
                                    <strong>1. State why you’re writing</strong> in a straightforward manner. Example:
                                    “Thank you for taking the time to visit our offices.”<br>
                                    <br>
                                    <strong>2. Elaborate on step 1.</strong> <em>Example:</em> “It was so valuable for
                                    our entire executive team to meet with you face to face. And your meeting sparked
                                    several creative ideas that we’re excited to pursue.”<br>
                                    <br>
                                    <strong>3. Build the relationship.</strong> “This is the most important step,” says
                                    Ensminger. “What you’re saying here is: ‘Your relationship matters, and I’m proving
                                    it by taking the time to write this note.’ In business relationships, time taken is
                                    worth everything. If there’s a bell curve of emotion to a personal note, this is the
                                    top of it.”</p>
                                <h6>
                                    Business dining etiquettes</h6>
                                <p>
                                    Whether you’re lunching with peers at a convention or meeting with a vendor,
                                    business dining etiquette can keep you from marring your image with a faux pas.<br>
                                    <br>
                                    Here are five etiquette rules for business meals, according to Robin Jay, author
                                    <em>of The Art of the Business Lunch: Building Relationships Between 12 and
                                        2.</em><br>
                                    <br>
                                    <strong>1. Never, ever talk with your mouth full.</strong> Instead, take small bites
                                    so you can quickly swallow if somebody asks you a question, Jay says.<br>
                                    <br>
                                    <strong>2. Come prepared with a few casual, non-business topics in mind.</strong> It
                                    helps you avoid awkward silences. People enjoy giving their thoughts on subjects
                                    like travel, sports and movies.<br>
                                    <br>
                                    <strong>3. Always be kind to the wait staff, no matter what happens.</strong> Anyone
                                    who is nice to you but nasty to the server is not a nice person.<br>
                                    <br>
                                    <strong>4. Know your lunch partner’s business.</strong> It’s especially key when
                                    your tablemate is someone you’d like to impress, but the rule holds true regardless.
                                    The fewer times you have to say (or think), “I didn’t know that!” the more impressed
                                    the other party will be. How to steal this idea: Take a few minutes to do a Google
                                    search before you leave for lunch.<br>
                                    <br>
                                    <strong>5. Put some thought into choosing the right restaurant.</strong> Too casual
                                    or inexpensive and the person may not feel valued. Too expensive and they may
                                    perceive you as wasteful. When in doubt, suggest that the other person pick the
                                    place.</p>
                                <h6>
                                    Balance personal &amp; professional image in Office decorations</h6>
                                <p>
                                    Personalizing our office space is tempting because we spend more awake hours there
                                    than anywhere else. But strike a balance by answering these questions about your
                                    cubicle décor:<br>
                                    <br>
                                    1. Who will see it?<br>
                                    2. What does it say about you?<br>
                                    3. Is it distracting?<br>
                                    4. Does it go overboard?</p>
                                <h6>
                                    Special occasions with co-workers demand party etiquettes</h6>
                                <p>
                                    Office party etiquette is simple: Don’t do anything that you don’t want the entire
                                    company to be talking about for several years to come. Contrary to popular myth, an
                                    office party is not the place to wear a lampshade on your head. Keep your dignity,
                                    and respect the dignity of others.</p>
                            </div>
                        </div>
                    </div>

                    <div class="area-title">
                        <div class="single-job-post">
                            <div class="img-icon">
                                <img src="images/company-logo/1.png" alt="">
                            </div>
                            <div class="address">
                                <div class="title"><span> Body language:</span></div>
                                <p>
                                    1) To boost your confidence before an important meeting, replace your smart phone
                                    with a newspaper.<br>
                                    2) To spot a liar, look out for these four “the tell-tale” signals.<br>
                                    3) To make a difficult task seem easier, smile.<br>
                                    4) To reach an agreement, send early engagement signals.<br>
                                    5) To encourage collaboration, rearrange your office.<br>
                                    6) To reduce resistance, hand out your business card.<br>
                                    7) To maximize your authority, curb your enthusiasm.<br>
                                    8) To defuse a tense situation, realign your body more congenially.<br>
                                    9) To “seal the deal,” make a positive last impression.<br>
                                    10) If you feel the need to improve your own body language, let your team know
                                    you’re doing it.</p>
                            </div>
                        </div>
                    </div>


                    <div class="area-title">
                        <div class="single-job-post">
                            <div class="img-icon">
                                <img src="images/company-logo/1.png" alt="">
                            </div>
                            <div class="address">
                                <div class="title"><span> Problem solving skills:</span></div>
                                <p>
                                    <strong>What is a Problem?</strong><br>
                                    The Concise Oxford Dictionary (1995) defines a problem as:<br>
                                    <em><strong>“A doubtful or difficult matter requiring a solution”</strong></em> and
                                    &nbsp;<em><strong>“Something hard to understand or accomplish or deal
                                            with.”</strong></em><br>
                                    <br>
                                    Everybody can benefit from having good problem solving skills as we all encounter
                                    problems on a daily basis; some of these problems are obviously more severe or
                                    complex than others.<br>
                                    <br>
                                    It would be wonderful to have the ability to solve all problems efficiently and in a
                                    timely fashion without difficulty, unfortunately there is no one way in which all
                                    problems can be solved.<br>
                                    <br>
                                    You will discover, as you read through our pages on problem solving, that the
                                    subject is complex. However well prepared we are for problem solving there is always
                                    an element of the unknown. Although planning and structuring will help make the
                                    problem solving process more likely to be successful, good judgement and an element
                                    of good luck will ultimately determine whether problem solving was a success.<br>
                                    <br>
                                    Interpersonal relationships fail and businesses fail because of poor problem solving<br>
                                    This is often due to either problems not being recognised or being recognised but
                                    not being dealt with appropriately. Solving a problem involves a certain amount of
                                    risk - this risk needs to be weighed up against not solving the problem. The
                                    approach referred to is generally designed for problem solving in an organisation or
                                    group context, but can also be easily adapted to work at an individual level. Trying
                                    to solve a complex problem alone however can be a mistake, the old adage: "A problem
                                    shared is a problem halved" is sound advice. Talking to others about problems is not
                                    only therapeutic but can help you see things from a different point of view, opening
                                    up more potential solutions.<br>
                                    <br>
                                    All problems have two features in common: <strong>1. Goals</strong> and <strong>2.
                                        Barriers</strong>.</p>
                                <h6>
                                    1. Goals</h6>
                                <p>
                                    Problems involve setting out to achieve some objective or desired state of affairs
                                    and can include avoiding a situation or event.<br>
                                    Goals can be anything that you wish to achieve, where you want to be. If you are
                                    hungry then your goal is probably to eat something, if you are a head of an
                                    organisation (CEO) then your main goal may be to maximise profits. In the example of
                                    the CEO the main goal may need to be split into numerous sub-goals in order to
                                    fulfil the ultimate goal of increasing profits.</p>
                                <h6>
                                    2. Barriers</h6>
                                <p>
                                    If there were no barriers in the way of achieving a goal, then there would be no
                                    problem. Problem solving involves overcoming the barriers or obstacles that prevent
                                    the immediate achievement of goals.<br>
                                    <br>
                                    Following our examples above, if you feel hungry then your goal is to eat. A barrier
                                    to this may be that you have no food available - you take a trip to the supermarket
                                    and buy some food, removing the barrier and thus solving the problem. Of course for
                                    the CEO wanting to increase profits there may be many more barriers preventing the
                                    goal from being reached. The CEO needs to attempt to recognise these barriers and
                                    remove them or find other ways to achieve the goals of the organisation.</p>
                                <h6>
                                    Stages of Problem Solving:</h6>
                                <p>
                                    Effective problem solving usually involves working through a number of steps or
                                    stages, such as those outlined below. For more detail continue to <strong>Stages of
                                        Problem Solving</strong>.</p>
                                <h6>
                                    Problem Identification:</h6>
                                <p>
                                    <strong>This stage involves: detecting and recognising that there is a problem;
                                        identifying the nature of the problem; defining the problem.</strong><br>
                                    The first phase of problem solving may sound obvious but often requires more thought
                                    and analysis. Identifying a problem can be a difficult task in itself, is there a
                                    problem at all? What is the nature of the problem, are there in fact numerous
                                    problems? How can the problem be best defined? - by spending some time defining the
                                    problem you will not only understand it more clearly yourself but be able to
                                    communicate its nature to others, this leads to the second phase.</p>
                                <h6>
                                    Structuring the Problem:</h6>
                                <p>
                                    <strong>This stage involves: a period of observation, careful inspection,
                                        fact-finding and developing a clear picture of the problem.<br>
                                    </strong> Following on from problem identification, structuring the problem is all
                                    about gaining more information about the problem and increasing understanding. This
                                    phase is all about fact finding and analysis, building a more comprehensive picture
                                    of both the goal(s) and the barrier(s). This stage may not be necessary for very
                                    simple problems but is essential for problems of a more complex nature.</p>
                                <h6>
                                    Looking for Possible Solutions:</h6>
                                <p>
                                    <strong>During this stage you will generate a range of possible courses of action,
                                        but with little attempt to evaluate them at this stage.</strong><br>
                                    From the information gathered in the first two phases of the problem solving
                                    framework it is now time to start thinking about possible solutions to the
                                    identified problem. In a group situation this stage is often carried out as a
                                    brain-storming session, letting each person in the group express their views on
                                    possible solutions (or part solutions). In organisations different people will have
                                    different expertise in different areas and it is useful, therefore, to hear the
                                    views of each concerned party.</p>
                                <h6>
                                    Making a Decision:</h6>
                                <p>
                                    <strong>This stage involves careful analysis of the different possible courses of
                                        action and then selecting the best solution for implementation.</strong><br>
                                    This is perhaps the most complex part of the problem solving process. Following on
                                    from the previous step it is now time to look at each potential solution and
                                    carefully analyse it. Some solutions may not be possible, due to other problems,
                                    like time constraints or budgets. It is important at this stage to also consider
                                    what might happen if nothing was done to solve the problem - sometimes trying to
                                    solve a problem that leads to many more problems requires some very creative
                                    thinking and innovative ideas. Finally, make a decision on which course of action to
                                    take - decision making is an important skill in itself and we recommend that you see
                                    our pages on <em>decision making</em>.</p>
                                <h6>
                                    Implementation:</h6>
                                <p>
                                    <strong>This stage involves accepting and carrying out the chosen course of
                                        action.</strong><br>
                                    Implementation means acting on the chosen solution. During implementation more
                                    problems may arise especially if identification or structuring of the original
                                    problem was not carried out fully.</p>
                                <h6>
                                    Monitoring/Seeking Feedback:</h6>
                                <p>
                                    <strong>The last stage is about reviewing the outcomes of problem solving over a
                                        period of time, including seeking feedback as to the success of the outcomes of
                                        the chosen solution.</strong><br>
                                    The final stage of problem solving is concerned with checking that the process was
                                    successful. This can be achieved by monitoring and gaining feedback from people
                                    affected by any changes that occurred. It is good practice to keep a record of
                                    outcomes and any additional problems that occurred.</p>
                            </div>
                        </div>


                        <div class="area-title">
                            <div class="single-job-post">
                                <div class="img-icon">
                                    <img src="images/company-logo/1.png" alt="">
                                </div>
                                <div class="address">
                                    <div class="title"><span>Interview preparation:</span></div>
                                    <p>
                                        A job interview is one of the most drawn-out and intimidating ways of making
                                        first impression. However, it’s also your opportunity to get on an employer’s
                                        good side, which can give you a distinct edge over even those applicants whose
                                        credentials are better than yours. To prepare for a job interview, use these
                                        pointers before, on the day, and definitely after the interview.</p>
                                </div>
                            </div>
                        </div>
                        <div class="area-title">
                            <div class="single-job-post">
                                <div class="img-icon">
                                    <img src="images/company-logo/1.png" alt="">
                                </div>
                                <div class="address">
                                    <div class="title"><span>CRM:</span></div>
                                    <p>
                                        Customer relationship management (CRM) is a system for managing a company's
                                        interactions with current and future customers. It often involves using
                                        technology to organize, automate and synchronize sales, marketing, customer
                                        service, and technical support.</p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "login.html.twig" %}
    {% include "register.html.twig" %}
{% endblock %}