<div class="module-small bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">GET IN TOUCH</h5>
                    <ul class="icon-list">
                        <li>Email: skillsfarmindia@gmail.com</li>
                        <li>Phone: +91 8848920235</li>
                        <li>URL: skillsfarm.in</li>
                        <li>Gottigere, Bangalore</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">By Regions</h5>
                    <ul class="icon-list">
                        <li><a href="#">Banglore</a></li>
                        <li><a href="#">Hassan</a></li>
                        <li><a href="#">Karkala</a></li>
                        <li><a href="#">Mangalore</a></li>
                        <li><a href="#">Kundapura</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">Job Types</h5>
                    <ul class="icon-list">
                        <li><a href="#">Full Time Job</a></li>
                        <li><a href="#">Part Time Job</a></li>
                        <li><a href="#">Temporary Job</a></li>
                        <li><a href="#">Internship Job</a></li>
                        <li><a href="#">Developer</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget">
                    <h5 class="widget-title font-alt">Job Catogories</h5>
                    <ul class="icon-list">
                        <li><a href="#">Soft Skills</a></li>
                        <li><a href="#">Career Counselling</a></li>
                        <li><a href="#">Communication Skills</a></li>
                        <li><a href="#">Faculty Training</a></li>
                        <li><a href="#">Placement services</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="divider-d">
<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2018&nbsp;<a href="/">Skillsfarm</a>, All Rights Reserved</p>
            </div>
            <div class="col-sm-6">
                <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i
                                class="fa fa-skype"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>