<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta name="theme-color" content="#ffffff">
    <link href="/assets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/assets/lib/animate.css/animate.css" rel="stylesheet">
    <link href="/assets/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="/assets/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="/assets/lib/owl.carousel/dist//assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/lib/owl.carousel/dist//assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/assets/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/assets/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="/assets/css/colors/default.css" rel="stylesheet">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block stylesheets %}{% endblock %}
    <script type="text/javascript"
            src=">setMaxResults(6)leapis.com/maps/api/js?libraries=places&key=AIzaSyB7iYeVpuQ0vMoW0JSzTgwhxY7C3QccZ7g"></script>
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <button onclick="myFunction()" style="display: none">Show Snackbar</button>
    <div id="snackbar">Some text some message..</div>
    {% include "employerheader.html.twig" %}
    {% block body %}{% endblock %}
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
<script src="/assets/lib/jquery/dist/jquery.js"></script>
<script src="/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/lib/wow/dist/wow.js"></script>
<script src="/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/assets/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/assets/lib/flexslider/jquery.flexslider.js"></script>
<script src="/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/assets/lib/smoothscroll.js"></script>
<script src="/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
<script>
    function showtoast() {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () {
            x.className = x.className.replace("show", "");
        }, 3000);
    }
</script>
<script type="text/javascript">
    function initMap(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
        var options = {
            types: ["geocode"]
        };
        var input = document.getElementById('location');
        var autocomplete = new google.maps.places.Autocomplete(input, options);
        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
            var latitude = place.geometry.location.lat();
            var longitude = place.geometry.location.lng();
            document.getElementById("latitude").value = latitude;
            document.getElementById("longitude").value = longitude;
            var country = place.address_components;
            if ((country[country.length - 1].types[0] == "country") && (country[country.length - 1].types[1] == "political")) {
                document.getElementById("country").value = country[country.length - 1].long_name;
            } else {
                document.getElementById("country").value = country[country.length - 2].long_name;
            }
            if (!place.geometry) {
                window.alert("No details available for input: '" + place.name + "'");
                return;
            }
            var isCountryLength = country.length;
            var countryValue = country['0']
            if ((isCountryLength == 1) && (countryValue.types[0] == "country") && (countryValue.types[1] == "political")) {
                document.getElementById("isCountry").value = "1";
            } else if ((isCountryLength == 2) && (countryValue.types[0] == "administrative_area_level_1") && (countryValue.types[1] == "political")) {
                document.getElementById("county").value = country[0].long_name;
            }
        });
    }
</script>
<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
    window.$zopim || (function (d, s) {
        var z = $zopim = function (c) {
                z._.push(c)
            },
            $ = z.s = d.createElement(s),
            e = d.getElementsByTagName(s)[0];
        z.set = function (o) {
            z.set._.push(o)
        };
        z._ = [];
        z.set._ = [];
        $.async = !0;
        $.setAttribute("charset", "utf-8");
        $.src = "https://v2.zopim.com/?5vmL5s1MbKkZp3B35GDWk4cEP7fr20cD";
        z.t = +new Date;
        $.type = "text/javascript";
        e.parentNode.insertBefore($, e)
    })(document, "script");
</script>
<!--End of Zendesk Chat Script-->
<script>
    function submitnotify() {
        $('#notify-span').hide();
        $('#notify-loader').show();
        var email = document.getElementById('email').value;
        $.post("{{ path('_notify') }}", {email: email, string: "a@3212's[]asdo[{&*^&*"}, function (data) {
            if (data == '1') {
                $('#snackbar').html("Your message has been successfully sent to skillsfarm team.");
                showtoast();
            }
            $('#notify-span').show();
            $('#notify-loader').hide();
        });
    }
</script>
{% block javascripts %}{% endblock %}
</body>
</html>