<div id="quickview-login">
    <div class="modal fade" id="forgotpassword" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="zmdi zmdi-close"></i></span></button>
                </div>
                <div class="modal-body">
                    <div class="form-pop-up-content ptb-60 pl-60 pr-60">
                        <div class="area-title text-center mb-43">
                            <img src="/img/logo375.png" style="width: 300px;height: 75px;" alt="jobhere">
                        </div>
                        <form action="{{ path('_jobseeker_forgotpassword') }}" method="post">

                            <div class="form-box">
                                <input type="username" id="username" class="mb-14"  name="username" placeholder="Username" required/>
                                <input type="email" id="email" class="mb-14"  name="email" placeholder="Enter your email address" required/>
                            </div>
                            <div class="fix ptb-30">
                                <span class="pull-right">
                                    <a href="/">login?</a>
                                </span>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="text-uppercase">Send Email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Login Form-->