
<div id="quickview-register">
    <div class="modal fade" id="register" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close"></i></span></button>
                </div>
                <div class="modal-body">
                    <div class="form-pop-up-content ptb-60 pl-60 pr-60">
                        <div class="area-title text-center mb-43">
                            <img src="/img/logo375.png" style="width: 300px;height: 75px;" alt="jobhere">
                        </div>
                        <form action="{{ path('_jobseeker_signup') }}" method="post">
                            <div class="form-box box2">
                                <input type="text" name="firstname" placeholder="First Name" class="mb-14" required>
                                <input type="text" name="lastname" placeholder="Last Name"  required>
                            </div>
                            <div class="form-box">
                                <input type="email" name="email" placeholder="Email" class="mb-14"  required>
                                <input type="text" name="login" placeholder="Username" class="mb-14"  required>
                                <input type="password" name="pass" placeholder="Password"  required>
                            </div>
                            <div class="fix ptb-30">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="text-uppercase">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Login Form-->


    